body {
    --primary: #0b132b;
    --secondary: #fee440;
    --tertiary: #f15bb5;
    --dark: #000;
    --light: #ffecd1;
}

/************* HEADER *************/
.dark-mode header {
    background-color: var(--dark);
}

.dark-mode .h-wrap h1.title a {
    color: var(--secondary);
}

.dark-mode .menu-icon .lines,
.dark-mode .menu-icon .lines::before,
.dark-mode .menu-icon .lines::after {
    background-color: var(--secondary);
}

.dark-mode .h-wrap .close .lines {
    background: 0, 0;
}

.dark-mode .h-wrap h1.title a:hover {
    color: var(--tertiary);
}

/************* OFF-CANVAS *************/
.dark-mode .off-canvas.toggled {
    border-left: 1px solid var(--secondary);
}

.dark-mode .off-canvas {
    background-color: var(--dark);
    color: var(--light);
}

.dark-mode .bio p {
    color: var(--light);
}

.dark-mode .off-canvas.toggled a {
    color: var(--secondary);
}

.dark-mode .off-canvas.toggled a:hover {
    color: var(--tertiary);
}

/************* POSTS *************/
.dark-mode .posts li .p-wrap {
    background: var(--primary);
}

.dark-mode .posts li time {
    color: var(--secondary);
}

.dark-mode .posts li {
    border-bottom: 1px solid var(--secondary);
}

.dark-mode .posts li:first-child {
    border-top: 1px solid var(--secondary);
}

.dark-mode .posts li a {
    color: var(--light);
}

.dark-mode .off-canvas nav h6 {
    color: var(--light);
    border-color: var(--light);
}

/************* POST PAGE *************/
body.dark-mode {
    background: var(--primary);
}

.dark-mode section {
    background: var(--primary);
}

.dark-mode .single-wrap .feat {
    border-bottom: 1px solid var(--light);
}

.dark-mode .single-wrap .page-date,
.dark-mode .single-wrap .feat a.popup {
    background: var(--primary);
}

.dark-mode .single-wrap .page-date {
    color: var(--light);
}

.dark-mode article {
    color: var(--light);
}

.dark-mode article a {
    color: var(--secondary);
}

.dark-mode article a:hover {
    color: var(--tertiary);
}

.dark-mode article img {
    background-color: var(--light);
    padding: 1em;
    border-radius: 1px;
}